<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    <!-- Enable Spring Annotation Configuration -->
    <context:component-scan base-package="com.woonders.lacemsjsf.config"/>
    <context:component-scan base-package="com.woonders.lacemsjsf.db.operator.config"/>
    <context:component-scan base-package="com.woonders.lacemsjsf.db.app.config"/>

    <!-- andrebbero rimossi e/o migliorati -->
    <context:component-scan base-package="login"/>
    <context:component-scan base-package="com.woonders.lacemsjsf.db.app"/>
    <context:property-placeholder location="classpath*:application.properties"/>
</beans>