#http://stackoverflow.com/questions/11287861/how-to-check-if-a-file-contains-a-specific-string-using-bash
container_commands:
  01-mvdevconf:
    command: sudo mv .ebextensions/dev/00_application.conf /etc/httpd/conf.d/elasticbeanstalk/00_application.conf
    test: grep -q lacems-dev /home/ec2-user/.ssh/authorized_keys && echo $?
  02-mvstagingconf:
    command: sudo mv .ebextensions/staging/00_application.conf /etc/httpd/conf.d/elasticbeanstalk/00_application.conf
    test: grep -q lacems-staging /home/ec2-user/.ssh/authorized_keys && echo $?
  03-mvprodconf:
    command: sudo mv .ebextensions/prod/00_application.conf /etc/httpd/conf.d/elasticbeanstalk/00_application.conf
    test: grep -q lacems-prod /home/ec2-user/.ssh/authorized_keys && echo $?
  04-restartapache:
    command: sudo service httpd restart