container_commands:
  01-replace-config:
    command: sudo cp .ebextensions/tomcat/server.xml /etc/tomcat8/server.xml
  02-create-dir-api-tomcat:
    command: mkdir -p /var/lib/tomcat8/api
  03-chown-dir-api-tomcat:
    command: sudo chown -R tomcat:tomcat /var/lib/tomcat8/api
  04-chmod-dir-api-tomcat:
    command: sudo chmod -R 0775 /var/lib/tomcat8/api
  05-symbolic-link-dir-api-tomcat:
    command: sudo ln -s /var/lib/tomcat8/api /usr/share/tomcat8/api
    test: sudo test ! -L /usr/share/tomcat8/api
  06-add-api-localhost-entry:
    command: |
      if ! grep -q "127.0.0.1 api.localhost" /etc/hosts; then
          echo "127.0.0.1 api.localhost" | sudo tee --append /etc/hosts > /dev/null
      fi